@using PersonelMVCUI.Models.EntityFramework
@model List<Departman>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<a class="btn btn-success" href="/Departman/Yeni">Yeni Departman</a>
 <center><h3>Departman Listesi</h3><br /></center>
<table class="table table-bordered" id="tblDepartmanlar">
    <thead>
    <th>ID</th>
    <th>AD</th>
    <th>Guncelle</th>
    <th>Sil</th>
    <th>Personeller</th>


    </thead>
    <tbody>
        @foreach (var departman in Model) 
        {
            <tr>
                <td>@departman.Id</td>
                <td>@departman.Ad</td>
                <td><a class="btn btn-primary" href="/Departman/Guncelle/@departman.Id">Guncelle</a></td>
                <td><a class="btn btn-warning BtnDepartmanSil" data-id="@departman.Id">Sil</a></td>
                @*<<td>@Html.ActionLink("Personelleri Göster","PersonelleriListele","Personel", new {id=departman.Id },
                   new { @class="btn btn-primary"})</td>*@
                <td>@Ajax.ActionLink("Personelleri Göster","PersonelleriListele","Personel",new { id=departman.Id},
                   new AjaxOptions { HttpMethod="GET", UpdateTargetId="personelListesi"},new { @class="btn btn-primary"})</td>
            </tr>
        }

    </tbody>
</table>

<div id="personelListesi"></div>
